
<fd-select id="themeSelector" [(value)]="selectedValue1"
(valueChange)="selectTheme($event)">
    <fd-option *ngFor="let option of themes" [value]="option.id">{{option.name}}</fd-option>
</fd-select>
<fd-calendar [showWeekNumbers]="showWeekCount" [compact]="compact" [markWeekends]="markWeekends"></fd-calendar>
<div>
    <fd-checkbox [(ngModel)]="showWeekCount">Show Week Count</fd-checkbox>
    <fd-checkbox [(ngModel)]="compact">Compact</fd-checkbox>
    <fd-checkbox [(ngModel)]="markWeekends">Mark Weekends</fd-checkbox>
</div>

<link rel="stylesheet" *ngIf="cssUrl" [href]="cssUrl"/>
<link rel="stylesheet" *ngIf="cssCustomUrl" [href]="cssCustomUrl"/>